<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>优惠券-七只狸猫</title>
    <link rel="stylesheet" href="/css/vendor.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/quan.css" />
</head>

<body>
    <div id="app">
        <div id="receive">
            <div  class="top-header" style="background-image: url('/images/quan/customer_bg.jpg');">
                <div  alt="" class="img-holder" style="padding-top: 93.3333%;"></div>
            </div>
            <div id="receive-content">
                <div id="receive-amount">
                    <section id="receive-amount-wrap">
                        <!---->
                        <p  id="receive-already">您已经领过大礼包</p>
                    </section>
                    <div  style="padding-top: 27.3333%;"></div>
                </div>
                <div  id="receive-container">
                    <p  id="receive-title">快乐优惠 狸猫优惠</p>
                    <p  id="receive-desc">优惠券已放入账号: <span  id="receive-phone">13913554077</span> <span  id="change-phone-btn">编辑</span></p>
<!--                     <section  class="receive-wrap"><span  id="receive-btn-default" style="display: none;"></span></section>
                    <section  class="receive-wrap"><span  id="receive-btn-partner">更多红包攻略 </span></section> -->
                    <section  id="voucher">
                        <ul  id="voucher-wrap">
                            <li data-v-03e3b63c="" class="voucher-list voucher-list-kuaiche"><img data-v-03e3b63c="" src="https://coupons.didistatic.com/static/coupons/99-taxi-valid.png" class="voucher-list-bg">
                                <div data-v-03e3b63c="" class="voucher-list-wrap">
                                    <div data-v-03e3b63c="" class="vouhcer-list-info">
                                        <p data-v-03e3b63c="" class="voucher-list-name">快车券</p>
                                        <p data-v-03e3b63c="" class="voucher-list-time">有效期至：2017-05-13</p>
                                    </div>
                                    <div data-v-03e3b63c="" class="voucher-list-amount"><span data-v-03e3b63c="" class="voucher-list-yuan">¥</span> <span data-v-03e3b63c="" class="voucher-list-int">1</span></div>
                                    <!---->
                                    <p data-v-03e3b63c="" class="voucher-remark">限10:00-16:00,20:00-23:59可用</p>
                                </div>
                            </li>
                           
                        </ul>
                    </section>
                    <p  id="receive-tip">若出行券未到账，将自动在24小时补发。同一用户限使用1份礼包。（同一设备号、支付账号、银行卡号等均视为同一用户）</p>
                </div>
            </div>
        </div>
        <!---->
        <!---->
        <footer id="footer">
        </footer>
        <script src="/js/vendor.js"></script>
        <script src="/js/quan.js"></script>
        <scirpt></scirpt>
    </div>
</body>

</html>
