@font-face {
    font-family: 'GeoqData_icon';
    src:  url('../GeopFonts/GeoqData_icon.eot?3b6lc7');
    src:  url('../GeopFonts/GeoqData_icon.eot?3b6lc7#iefix') format('embedded-opentype'),
    url('../GeopFonts/GeoqData_icon.ttf?3b6lc7') format('truetype'),
    url('../GeopFonts/GeoqData_icon.woff?3b6lc7') format('woff'),
    url('../GeopFonts/GeoqData_icon.svg?3b6lc7#GeoqData_icon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-q_"], [class*=" icon-q_"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'GeoqData_icon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-q_share:before {
    content: "\e901";
}
.icon-q_show_chart:before {
    content: "\e902";
}
.icon-q_add:before {
    content: "\e903";
}
.icon-q_refresh2:before {
    content: "\e900";
}

