/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 0px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 0px;
    padding-left: 0px;
  }
}



/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}


body {
  font: 14px "微软雅黑","Lucida Grande", Helvetica, Arial, sans-serif;
}



a {
  color: #00B7FF;
}
.navbar-inverse {
	background: #5e87b0;
}
.navbar-brand {
	padding:10px 15px;
}

#map label{
	max-width: 500px;
	max-width: 500px;
	border-radius: 5px;
	color: white;
	font-size: 14px;
	font-family: "微软雅黑";
	padding: 6px;
	border: 0;
	opacity: 0.9;
}

.pricing-chart-tier{
  padding: 90px 30px 20px;
  position: relative;
    text-align: center;
}

.pricing-chart-tier h2 {
    margin-bottom: 10px;
}
.pricing-chart-tier .price {
    font-size:16px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.pricing-chart-tier .btn{
    max-width: 250px;
    width:100%;
    color:white;
}
.p1{
  color:#758d94;
}
.p1 .btn{
      background: #698087;
       border-color:  #698087;
}
.p1 .ribbon {
   border-color:#698087;
     border-bottom-color: rgba(0,0,0,0);
}
.p2{
  color:#2facb2;
}
.p2 .btn{
      background: #2facb2;
      border-color: #2facb2;
}
.p2 .ribbon {
   border-color:#2facb2;
     border-bottom-color: rgba(0,0,0,0);
}
.p3{
  color:#2dbe60;
}
.p3 .btn{
      background: #2dbe60;
     border-color:#2dbe60;
}
.p3 .ribbon {
   border-color:#2dbe60;
     border-bottom-color: rgba(0,0,0,0);
}
.p4{
    color:#FF8000;
}
.p4 .btn{
      background: #FF8000;
      border-color:#FF8000;
}
.p4 .ribbon {
   border-color:#FF8000;
   border-bottom-color: rgba(0,0,0,0);
}

.ribbon {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    display: block;
    position: absolute;
    top: -1px;
    left: 50%;
    width: 0;
    height: 50px;
    border: 20px solid white;
    border-top: 0 solid;
    border-bottom: 15px solid rgba(0,0,0,0);
    margin-left: -20px
}

.star {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    position: absolute;
    top: 22px;
    left: -9px;
    width: 0;
    height: 0;
    border: 10px solid rgba(0,0,0,0);
    border-top: 0 solid;
    border-bottom: 7px solid #fff;
    -webkit-transform: rotateZ(35deg);
    transform: rotateZ(35deg)
}

.star::before {
    content: "";
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    position: absolute;
    top: -5px;
    left: -6px;
    width: 0;
    height: 0;
    border: 3px solid rgba(0,0,0,0);
    border-top: 0 solid;
    border-bottom: 8px solid #fff;
    -webkit-transform: rotateZ(-35deg);
    transform: rotateZ(-35deg)
}

.star::after {
    content: "";
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    position: absolute;
    top: 0;
    left: -10px;
    width: 0;
    height: 0;
    border: 10px solid rgba(0,0,0,0);
    border-top: 0 solid;
    border-bottom: 7px solid #fff;
    -webkit-transform: rotateZ(-70deg);
    transform: rotateZ(-70deg)
}

.pricing-chart-tier .panel{
  position: relative;
  padding-top: 80px;
  opacity: 0.95;
}

.tier-features{
  margin-bottom: 30px;
  text-align: left;
}

.tier-features .unavailable {
    color: #d1d1d1;
}

.tier-features li {
    position: relative;
    padding: 5px;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-text {
    color: white;
}

.container-fluid-price{
  background:url("../images/bg.jpg");
  min-height:640px;
}

.copyright {
  background: #111;
  font-size: 13px;
  text-align: center;
  color: #999;
  padding-top: 28px;
  padding-bottom: 28px;
  border-top: 1px solid #303030;
}
.copyright span {
  margin: 0 .5em;
}
.copyright a {
  color: #999;
}


.container-fluid-regedit{
 background:url("../images/bg2.jpg")  no-repeat top right;


}

.login{
  margin-top:30px;
  max-width: 400px;

  position: relative;
    left: 20%;
    min-height:320px;
    opacity: 0.95;
}

.login .panel-body{
  padding:20px;
}

.login h3{
  font-size:18px;
  margin-bottom: 20px;
}

.login .input-group{
  margin-bottom: 15px;
}

.login .form-control{
  height:50px;
}



.login .btn{
  width:100px;
}

.container-login{
  margin: 60px auto;
}

.container-login img{
  width:120px;
}
.container-login h2{
  margin:30px 0;
}

.container-login p{
   text-align:left;
}

.thumnail-value {
    padding: 2em 2em 1.3em;
    margin: 1em 0;
    position: relative;
    transition: .25s background;
    -webkit-transition: .25s background;
    min-height: 380px;
}

.box-shadow {
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
}


.sidebar ul.nav.nav-sidebar li.nav-parent > a:after {
  font-family: 'Glyphicons Halflings';
  content: "\e114";
  font-size: 16px;
  font-size: 1.6rem;
  position: absolute;
  right: 0;
  top: 0;
  padding: 14px 25px;
}
.sidebar ul.nav.nav-sidebar li.nav-parent.nav-expanded > a:after {
  content: "\e113";
}

 .nav-children {
    box-shadow: none;
    background: white;
    display: none;
    padding: 10px 0;
}
.nav-children li a {
    padding: 5px 15px 5px 30px;
}

.nav-children li a .unavailable {
    color: #d1d1d1;
}


.line{
  border-top:1px solid #eee;
  margin:0 15px;
}

.line h4{
 color:#666;
 font-size:14px;
 font-weight: bold;
}

.small{
  color:#666;
  font-size:11px;
  margin:0 15px;
}
.sign-in{
    display: inline-block;
    vertical-align: bottom;
    margin-left: 14px;
    padding-bottom: 2px;
}