.sidebar{
    bottom: 0px;
    background: #fff;
    border-bottom: none;
}
#second-category{
    position: absolute;
    padding: 0px;
    top: 0px;
    padding-top:50px;
    height:100%;
    border-bottom: none;
    overflow:auto;
}
.select-analy{
    border-bottom: 1px solid #e7e7e7;
}

.select-analy-bg{
    height: 42px;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}
.third-category{
    position: absolute;
    left: 335px;
    top: 0px;
    padding-top:50px;
    width: 500px;
    height: 100%;
    background: #ffffff;
    z-index: 1;
    display: none;
    border-left: 1px solid #e7e7e7;
    text-align: center;
}
#echart-content{
    width: 800px;
    height: 100%;
}

#pie-content,#pie-content-all{
    height: 400px;
}
#line-content{
    height: 300px;
}
 ul{
    margin: 0px;
    padding:0px;
}
.btn-next{
    position: fixed;
    bottom: 30px;
}
.btn-next button{
    border-radius: 0px;
}
ul.district,ul.brand,ul.analysis{
    display: none;
}
.item-header{
    margin: 10px 0px 5px 5px;
    font-size: 16px;
    height: 23px;
}
.item-body li,.business-area li{
     list-style: none;
     margin: 8px 10px 8px 50px;
     letter-spacing: 3px;
}
.item-body li a{
    color:#555;
}
.item-body li a input{
    margin-right: 6px;
}


.business-area a input,a.industy-area-item input,.analy-area-item input{
    margin-right: 6px;
}
.business-area a,a.industy-area-item,.analy-area-item a{
    display: inline-block;
    width: 85px;
    height: 30px;
    margin-left:14px;
    color:#555;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.color-gray{
    color:#e7e7e7;
}
.color-gray a{
    color:#e7e7e7;
}
.firm-item{
    margin-top: 10px;
    color: #999;
    margin-left: 3px;
}

.brand-item,.analysis-item{
    padding:0px 8px;
}

.brand-item a,.analysis-item a{
    text-decoration: none;
}

.line:first-child{
    border:none;
}
.center{
    text-align: center;
}

#table-content{
    margin-top: 30px;
    margin-bottom:50px;
}
.table-title{
    font-size:19px;
    font-weight: bold;
    color:#000000;
}
.analysis-tab{
    float:left;
    list-style: none;
    width:20%;
    height:30px;
    text-align: center;
}
.analysis-tab span{
    color: #f2f2f2;
    line-height: 30px;
    vertical-align: middle;
    cursor: pointer;
}
.analysis-tab-hy{
    background: #81c2d6;
}
.analysis-tab-sp{
    background: #8192d6;
}
.analysis-tab-zz{
    background: #d9b3E6;
}
.analysis-tab-rq{
    background: #9C27B0;
}
.analysis-tab-xf{
    background: #c7ceb2;
}
.box-shadow-tab{
    box-shadow: 3px 3px 5px #bbb;
}
#tab-form-content{
    margin-top:50px;
}

.houseTable,.houseTableTr{
    border-collapse: collapse;
    border:1px solid #eee;
}
.houseTable td,.houseTable th{
    width: 4%;
    padding: 10px 0px;
}
#mapLayer{
    width: 150px;
    height: 40px;
    border: 1px solid seagreen;
    position: absolute;
    top: 20px;
    left: 165px;
}
.nav-sidebar{
    border:none;
}
.nav-sidebar>li>a{
    border:none!important;
    padding: 0px;
    margin-left: 30px;
}

.first-category{
    height:40px;
    padding:15px;
}

.first-category img{
    float: left;
}
.nav>li>a:focus, .nav>li>a:hover{
    background: none;
}
.district-title,.industy-title,.analy-area-title{
    background: none;
    border-bottom: 1px dashed #337ab7;
    margin-bottom: 8px;
}
.district-title span,.industy-title span,.analy-area-title span{
    padding-bottom: 6px;
    color: #337ab7;
}
.district-item{
   border-bottom: none;
}
.industy-title,.analy-area-title{
  display: block;
  padding: 10px 15px;
}
.start-analy-button{
    position: absolute;
    width: 90%;
    height: 40px;
    border-radius: 4px;
    text-align: center;
    line-height: 40px;
    margin-left: 20px;
    margin-top: 30px;
    font-size: 16px;
    background-color: #2e6da4;
    color: #f5f5f5;
    cursor: pointer;
}
.close-layer-div{
    /*width:30px;
    height:30px;
    float: left;
    border: 1px solid darkcyan;*/
}

