.sidebar{
    bottom: 0px;
}
#second-category{
    position: absolute;
    padding: 0px;
    top: 0px;
    padding-top:50px;
    height:100%;
    border-bottom: none;
    overflow:auto;
}
.select-analy{
    border-bottom: 1px solid #e7e7e7;
}
.second-category{

}
.second-category>ul{
   
}
.select-analy-bg{
    height: 42px;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}
.third-category{
    position: absolute;
    left: 335px;
    top: 0px;
    padding-top:50px;
    width: 500px;
    height: 100%;
    background: #ffffff;
    z-index: 1;
    display: none;
    border: 1px solid #e7e7e7;
    text-align: center;
}
#echart-content{
    width: 800px;
    height: 100%;
    padding:30px;
}
#pie-content{
    height: 400px;
}
#line-content{
    height: 300px;
}
 ul{
    margin: 0px;
    padding:0px;
}
.btn-next{
    padding:10px;
    border-top:1px solid #e7e7e7;
    text-align: center;
}
.btn-next button{
    border-radius: 0px;
}
ul.district,ul.brand,ul.analysis{
    display: none;
}
.item-header{
    margin: 10px 0px 5px 5px;
    font-size: 16px;
    height: 23px;
}
.item-body li,.business-area li{
     list-style: none;
     margin: 8px 10px 8px 50px;
     letter-spacing: 3px;
}
.item-body li a{
    color:#555;
}
.item-body li a input{
    margin-right: 6px;
}
/*.business-area li{
    margin: 8px 10px 8px 50px;
    letter-spacing: 3px;
}*/

.business-area li input{
    margin-right: 6px;
}
.color-gray{
    color:#e7e7e7;
}
.color-gray a{
    color:#e7e7e7;
}
.firm-item{
    margin-top: 10px;
    color: #999;
    margin-left: 3px;
}

.brand-item,.analysis-item{
    padding:0px 8px;
}

.brand-item a,.analysis-item a{
    text-decoration: none;
}

.line:first-child{
    border:none;
}
.center{
    text-align: center;
}

#table-content{
    margin-top: 30px;
    margin-bottom:50px;
}
.table-title{
    font-size:19px;
    font-weight: bold;
    color:#000000;

}
.analysis-tab{
    float:left;
    list-style: none;
    width:20%;
    height:30px;
    text-align: center;
}
.analysis-tab span{
    color: #f2f2f2;
    line-height: 30px;
    vertical-align: middle;
    cursor: pointer;
}
.analysis-tab-hy{
    background: #81c2d6;
}
.analysis-tab-sp{
    background: #8192d6;
}
.analysis-tab-zz{
    background: #d9b3E6;
}
.analysis-tab-rq{
    background: #9e1e18;
}
.analysis-tab-xf{
    background: #c7ceb2;
}
.box-shadow-tab{
    box-shadow: 3px 3px 5px #bbb;
}
#tab-form-content{
    margin-top:50px;
}