.sidebar{
    bottom: 0px;
}
#second-category{
    position: absolute;
    border:1px solid #e7e7e7;
    padding: 0px;
    height: 80%;
    border-bottom: none;
}
.select-analy{
    border-bottom: 1px solid #e7e7e7;
}
.second-category{
    height: 100%;
}
.second-category>ul{
    height:100%;
}
.select-analy-bg{
    height: 42px;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}
.third-category{
    position: absolute;
    left: 335px;
    top: 50px;
    width: 400px;
    height: 93%;
    background: #ffffff;
    z-index: 9999;
    display: none;
    border: 1px solid #e7e7e7;
    text-align: center;
}
#echart-content{
    width: 800px;
    height: 100%;
}
#pie-content{
    height: 400px;
}
#line-content{
    height: 300px;
}
.btn-next{
    padding:10px;
    border-top:1px solid #e7e7e7;
    text-align: center;
}
.btn-next button{
    border-radius: 0px;
}
ul.district,ul.brand,ul.analysis{
    display: none;
}
.item-header{
    margin: 10px 0 5px 5px;
    font-size: 16px;
    height: 23px;
}
.item-body li,.business-area li{
    list-style: none;
    margin: 0 10px 8px 0;
}
.business-area li input{
    margin-right: 4px;   
}
.color-gray{
    color:#e7e7e7;
}
.firm-item{
    margin-top: 10px;
    color: #999;
    margin-left: 3px;
}