<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <title>Genesis 商业地理 | 智慧商圈，精准营销，智能选址</title>
    <link rel="stylesheet" href="css/vendor.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/home.css" />
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index"> <img width="300" height="30" class="img-responsive" alt="Genesis 商业地理" src="images/logo.png"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown user" id="header-user">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                           <i class="fa fa-user"></i>
                            <span class="username"> <%= user.account %></span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="logout"><i class="fa fa-power-off"></i> 退出</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid container-home">
        <div class="row">
            <div class="col-md-3 navL">
                <div id="navL">
                    <div class="navTop clearfix">
                        <div class="perImg"><img src="images/avatar.jpg" alt="" onclick="window.location = '/member/center/account.jhtml'"></div>
                        <div class="perMesg">
                            <p>用户名：</p>
                            <div class="perName"><span title="<%=user.account%>"><%=user.account%></span><i onclick="window.location = '/#'">已认证</i></div>
                            <p class="safety">帐号安全度：<span>高</span></p>
                            <div class="safetyName">
                                <span class="apcol3"></span>
                            </div>
                        </div>
                    </div>
                    <ul class="msgLink clearfix">
                        <li><a href="#">帐号信息<span class="mesNum"></span></a></li>
                        <li><a href="#">我的订单</a></li>
                        <li><a href="#">消息中心</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9 main">
                <div class="col-md-3">
                    <a href="list">
                        <div class="thumnail-value text-center box-shadow equa-height ">
                            <div class="box-img text-center">
                                <img src="images/3.png" alt="商业地图">
                            </div>
                            <h2 class="text-center">商业地图</h2>
                            <p> </p>
                        </div>
                    </a>
                </div>

                <div class="col-md-3">
                    <a href="list">
                        <div class="thumnail-value text-center box-shadow equa-height ">
                            <div class="box-img text-center">
                                <img src="images/1.png" alt="商业地图">
                            </div>
                            <h2 class="text-center">智能选址</h2>
                            <p> </p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="marketing">
                        <div class="thumnail-value text-center box-shadow equa-height ">
                            <div class="box-img text-center">
                                <img src="images/2.png" alt="商业地图">
                            </div>
                            <h2 class="text-center">精准营销</h2>
                            <p> </p>
                        </div>
                    </a>
                </div>

                 <div class="col-md-3">
                    <a href="monitor.html">
                        <div class="thumnail-value text-center box-shadow equa-height ">
                            <div class="box-img text-center">
                                <img src="images/4.png" alt="人流监控">
                            </div>
                            <h2 class="text-center">人流监控</h2>
                            <p> </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
    <div class="alert alert-block alert-warning fade in">
        <a class="close" data-dismiss="modal" aria-label="Close" href="#" aria-hidden="true">×</a>
        <p></p>
        <i class="glyphicon glyphicon-exclamation-sign"></i>
        <span>登录失败
        </span>
        <p></p>
    </div>
    </div>
</div>
 -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-12"><span><!-- react-text: 25 -->Copyright © <!-- /react-text --><a href="#">荒野猎人团队</a></span>
                    <!-- react-text: 27 -->|
                    <!-- /react-text --><span><a href="http://www.miibeian.gov.cn/" target="_blank">苏ICP备14030752号</a></span></div>
            </div>
        </div>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/login.js"></script>
</body>

</html>
